extends layout

block content
    h1= title
    ul
        li
            a(href='/post') Add Your Cat
        li
            a(href='/rate') Rate Cats
        li
            a(href='/login') Login
    img(src='/test')
