extends layout

block content
    h1= title
    h2 Hello Friend!
    if !user
        p
            | Would you like to&nbsp;
            a(href='/login') login
            | &nbsp;or&nbsp;
            a(href='/signup') register
            | ?
    else

        a(href='/profile') profile&nbsp;
        a(href='/logout') logout
